certificatesResolvers:
  le:
    acme:
      email: spam@labitte.com
      storage: /acme.json
      dnsChallenge:
        provider: ovh
        delayBeforeCheck: 10

global:
  sendAnonymousUsage: false

log:
  level: "INFO"
  format: "common"

providers:
  docker:
    defaultRule: "Host(`{{ index .Labels \"com.docker.compose.service\" }}.lebit.tech`)"
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: true
    swarmMode: false

api:
  dashboard: true
  debug: false
  insecure: true

entryPoints:
  insecure:
    address: ":80"
  secure:
    address: ":443"
